body {
    font-family: "Montserrat-Regular";
    overflow-x: hidden;
    box-sizing: border-box;
}

.slider-element {
    margin-bottom: 100px !important;
    &__img {
        position: relative;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #2d2d2d;
            opacity: 50%;
        }
        img {
            max-width: 100%;
        }
    }
    &__title {
        max-width: 45rem;
        position: absolute;
        bottom: 30%;
        left: 10%;
        z-index: 9;
        h3 {
            font-family: "Montserrat-Bold";
            font-size: 48px;
            // font-size: 3rem;
            font-weight: 700;
            line-height: 120%;
            color: $white;
        }
    }
    .slick-prev {
        z-index: 9 !important;
        right: 20% !important;
        color: white;
        font-size: 30px;
        // transform: rotate(180deg) !important;
        transform: translateY(-40%) rotate(180deg);
    }
    .slick-next {
        color: white;
        right: 15%;
        font-size: 30px;
    }
    .slick-dots {
        bottom: 10%;
        right: 38%;
    }
}
.click {
    visibility: visible !important;
    opacity: 1 !important;
}
.burger-list.click {
    display: block;
}
* {
    &:focus {
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: 0;
        border: transparent;
    }
}
.main-title {
    &__header {
        border-bottom: 1px solid $outColor;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        padding: 0 0 25px 0;
        h3 {
            font-weight: 700;
            font-size:  1.95em;
            font-family: "Montserrat-Bold";
        }
        &--btn {
            a {
                font-size: 0.9em;
                &:hover {
                    background-color: $blue;
                }
            }
        }
    }
}
.main-news {
    margin-top: 30px;
    margin-bottom: 100px;
    .news--leftSide {
        position: relative;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #2d2d2d;
            opacity: 50%;
        }

        .news__title {
            position: absolute;
            bottom: 2rem;
            left: 2rem;
            color: $white;
            z-index: 1;
            h5 {
                font-size: 25px;
                font-weight: 700;
            }
            p {
                font-size: 16px;
                font-weight: 500;
            }
            span {
                display: block;
                margin-top: 13px;
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
    .news__img {
        img {
            max-width: 100%;
            width: 100%;
        }
    }
    .news--rightSide {
        .side-news {
            display: flex;
            margin-bottom: 30px;
            &__img {
                img {
                    max-width: 100%;
                    width: 100%;
                }
            }
            &__title {
                border-bottom: 1px solid $outColor;
                margin-left: 30px;
                padding: 20px 0;
                h5 {
                    font-weight: 600;
                    font-size: 16px;
                    color: $black;
                }
                span {
                    color: $subColor;
                    font-size: 12px;
                }
            }
        }
        .social-buttons {
            ul {
                display: flex;
                li {
                    &:first-child {
                        margin-right: 20px;
                    }
                }
            }
        }
    }
}
.main-events__column {
    margin-top: 30px;
    .main-events__img {
        flex-basis: 100%;
        flex: 1;
        img {
            max-width: 100%;
            width: 100%;
        }
    }
    a {
        margin: 0 2rem;
        text-decoration: underline;
    }
    .main-events__scroll {
        margin-top: 30px;
        max-height: 200px;
        flex-basis: 100%;
        width: 100%;
        flex: 1;
        overflow: auto;
        .main-events__title {
            margin: 0 2rem;
            padding-bottom: 20px;
            border-bottom: 1px solid $outColor;
            h5 {
                font-size: 16px;
                font-weight: 500;
                line-height: 21px;
            }
            span {
                color: $subColor;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
            }
        }
        li {
            margin-bottom: 30px;
        }
    }
}
.section-event-slider {
    margin: 6.25rem 0;
    &__element {
        display: flex !important;
        text-align: center;
        border: 1px solid $outColor;
        padding: 15px;
        margin: 0 10px;
        transition: 0.2s;
        &:hover {
            cursor: pointer;
            background-color: $ActiveBlue;
            color: white;
        }
    }
    &__title {
        text-align: center;
        display: flex !important;
        align-items: center;
        margin-left: 15px;
        span {
            font-family: "Montserrat-Bold";
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 19px;

            text-align: left;
        }
    }
    &__img {
        // padding: 15px;
        // width: 4.5rem;
        // height: 4.5rem;
        display: flex;
        align-items: center;
        img {
            background-color: $white;
            padding: 8px;
            object-fit: cover;
            border: 1px solid $outColor;
            border-radius: 100%;
            // max-width: 100%;
            // width: 100%;
        }
    }

    .prevImg {
        top: 50% !important;
        left: -25px;
        z-index: 9;
        color: $black;
        font-size: 90px;
        transform: translate(-50%, -50%);
        position: absolute;
    }

    .nextImg {
        position: absolute;
        top: 35%;
        right: -25px;
        z-index: 9;
        color: $black;
        font-size: 90px;
        transform: translate(-50%, -50%);
        transform: rotate(180deg);
    }
}
