.main-title {
    &__header--btn {
        a {
            display: block;
            color: $ActiveBlue;
            text-decoration: none;
            padding: 18px 23px;
            border: 1px solid $ActiveBlue;
            border-radius: 3px;
            // height: 58px;
            // width: 204px;
            font-size: 16px;
            transition: all 0.2s;
            &:hover {
                background-color: $ActiveBlue;
                color: $white;
            }
            &:focus {
                background-color: $blue;
                color: $white;
            }
        }
    }
}
body.stuck {
    overflow-y: hidden;
    // margin-right: 10px ;
}
// .btn-search {
//     z-index: 99;
// }
.btnBrgr {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    width: 40px;
    height: 4px;
    background-color: $black;
    span {
        padding: 30px;
    }

    &:before,
    &:after {
        position: absolute;
        content: " ";
        background-color: $black;
        display: inline-block;
        width: 40px;
        height: 4px;
        transition: 0.3s;
    }
    &::before {
        transform: translateY(16px);
    }
    &::after {
        transform: translateY(-16px);
    }
}
.btnBrgr.trick {
    background-color: transparent;
    transition: 0.3s;
    &::after {
        transform: rotate(45deg);
    }
    &::before {
        transform: rotate(-45deg);
    }
}
.soc-btn{
    display: inline-block;
    // height: 74px;
    // width: 220px;
    width: 100%;
    border-radius: 3px;
    color: $white;
    padding: 25px 0;
    text-align: center;
    transition: 0.3s;
    background-color: $Fblue;
    &--twit{
        background-color: $Tblue;
    }
    &:hover {
    text-decoration: none;
     color: $white;
    }
}
// .social-buttons {
//     a {
//         display: inline-block;
//         // height: 74px;
//         // width: 220px;
//         width: 100%;
//         border-radius: 3px;
//         color: white;
//         // padding: 25px 0;
//         text-align: center;
//         text-decoration: none;
//         transition: 0.3s;
//         &:hover {
//             transform: scaleY(1, 1.1);
//         }
//     }
//     .fb-btn {
//         background-color: $Fblue;
//     }
//     .twt-btn {
//         background-color: $Tblue;
//     }
// }
div ::-webkit-scrollbar {
    width: 3px;
}

/* Track */
div ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $outColor;
    border-radius: 10px;
}

/* Handle */
div ::-webkit-scrollbar-thumb {
    background: $ActiveBlue;
    border-radius: 5px;
}
